{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "rules": {
    "comma-dangle": [2, "only-multiline"],
    "quotes": [2, "single"],
    "no-console": 0,
    "no-unused-vars": 0,
    "semi": 1,
    "no-class-assign": 0,
    "no-constant-condition": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-multi-spaces": 1,
    "jsx-quotes": [2, "prefer-double"],
    "react/display-name": 0,
    "react/prop-types": 0,
    "react/no-multi-comp": 0,
    "react/jsx-no-bind": [0, {
      "ignoreRefs": false,
      "allowArrowFunctions": false,
      "allowBind": false
    }],
    "react/jsx-space-before-closing": 1,
    "react/jsx-closing-bracket-location": 1,
    "react/no-danger": 0,
    "react/jsx-curly-spacing": 1,
    "react/jsx-boolean-value": 0,
    "react/no-string-refs": 1,
    "react/wrap-multilines": 1,
    "react/self-closing-comp": 1,
    "react/require-render-return": 1,
    "react/no-is-mounted": 1
  }
}
